@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic hover effects */
.hover-box_green{
    transition: transform 1.2s ease, color 0.8s ease;
    border: 2px;
    border-radius: 4px;
    padding: 4px;
}

.hover-box_green:hover {
    color: rgb(0, 0, 0);
    background-color: #1B998B; 
    border-color: #1B998B;
}

.hover-box_black{
    transition: transform 1.2s ease, color 0.8s ease;
    border: 2px;
    border-radius: 4px;
    padding: 4px;
}

.hover-box_black:hover {
    color: #1B998B;
    background-color: #000000; 
    border-color: #000000;
}

.hover-large{
    transition: transform 0.6s;
}

.hover-large:hover{
    transform: scale(1.05);
}

/* Simple fade animations */
@keyframes fade-up {
    0%{
        opacity: 0%;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-down {
    0%{
        opacity: 0%;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.fade-up {
    animation: fade-up 0.6s ease-out forwards;
}

.fade-down {
    animation: fade-down 0.6s ease-out forwards;
}